<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Izin (Permissions) WAJIB untuk GPS/Lokasi -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- Izin untuk Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <!-- Izin ini penting untuk pelacakan di latar belakang (Background) -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!-- Izin untuk Android 10+ agar aplikasi dapat mengakses lokasi di latar belakang -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    


    <application
        android:label="gps_tracker_app"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <!-- Activity Flutter utama Anda -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>



        <!-- Sisanya dari konfigurasi default -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
